#body {
    background-color: var(--pico-mark-background-color) ;
}
#hea {
    background-color: var(--pico-primary-background);
    --pico-color: white;
}



#form {
    height: auto;
    width: auto;
    padding: 1rem;
    margin: 1rem;
}

.container {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;

}

.item1 {
    grid-row: 1 / 4;
    grid-column: 1/10;
    padding: 1rem;
    
}
.item2 {
    grid-row: 4 / 6;
    grid-column: 1/4;
    padding-left: 1rem;
    padding-top: 1.6rem;
}
.item3 {
    grid-row: 4 / 10;
    grid-column: 4/10;
}
.footer {
    padding-left: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.button{
    --pico-background-color: var(--pico-color);
    --pico-text-selection-color: var(--pico-mark-background-color);
    
}
.button:hover{
    --pico-background-color: var(--pico-mark-background-color);
}